{
  "parser": "babel-eslint",
  parserOptions: {
    sourceType: "module"
  },
  "extends": "airbnb-base-hf",
  "plugins": [
    "import"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "indent": [2, 2]
  }
}