doctype html
html(ng-app='client')
  head
    title Template
  body
    h1 Hello #{name}

  script(type='text/javascript', src='./assets/lib/angular/angular.min.js')
  script(type='text/javascript', src='./assets/lib/jquery/dist/jquery.min.js', charset="UTF-8")    
  script(type='text/javascript', src='./assets/lib/bootstrap/dist/js/bootstrap.min.js', charset="UTF-8")
  script(type='text/javascript', src='./assets/lib/socket.io-client/dist/socket.io.min.js', charset="UTF-8")
  script(type='text/javascript', src='./app.js', charset="UTF-8")
