doctype html
html(ng-app='client')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title mp4-webplayer
    link(rel='stylesheet', href='./assets/css/style.css')
    link(rel='stylesheet', href='./assets/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    .container-fluid
      .row
        .player.col-lg-9.col-md-8.col-sm-8.col-xs-12(ng-controller="player")
          h3 Hello, dear reviewer!
          h4 Select the video please :)
        .videoList.col-lg-3.col-md-4.col-sm-4.col-xs-12(ng-controller='main')
          .list-group(ng-repeat='video in videos')
            a.list-group-item.ng-cloak {{ video }}
  script(type='text/javascript', src='./assets/lib/angular/angular.min.js')
  script(type='text/javascript', src='./assets/lib/jquery/dist/jquery.min.js', charset="UTF-8")    
  script(type='text/javascript', src='./assets/lib/bootstrap/dist/js/bootstrap.min.js', charset="UTF-8")
  script(type='text/javascript', src='./assets/lib/socket.io-client/dist/socket.io.min.js', charset="UTF-8")
  script(type='text/javascript', src='./assets/lib/angular-socket-io/socket.js', charset="UTF-8")    
  script(type='text/javascript', src='./app.js', charset="UTF-8")
