doctype html
html(ng-app='client')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title mp4-webplayer
    link(rel='stylesheet', href='./assets/css/style.css')
    link(rel='stylesheet', href='./assets/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    .container-fluid
      .row
        .player.ng-cloak.col-lg-9.col-md-8.col-sm-8.col-xs-12(ng-controller='player')
          .vertical-align-wrapper(ng-if='!selectedVideo')
            .greeting-text
              h2 Hello, dear reviewer!
              h3 Select the video please :)
          .video-container.vertical-align-wrapper
            video(autoplay)
        .video-list.ng-cloak.col-lg-3.col-md-4.col-sm-4.col-xs-12(ng-controller='main')
          .playlist-header.panel.panel-default
            .panel-heading Playlist
          .list-group              
              a.list-group-item(ng-class='{active: selectedVideo == video.name}', ng-repeat='video in videos', ng-click='selectVideo(video.name)')
                h4 {{ video.name }}
  script(type='text/javascript', src='./assets/lib/lodash/dist/lodash.min.js')
  script(type='text/javascript', src='./assets/lib/angular/angular.min.js')
  script(type='text/javascript', src='./assets/lib/jquery/dist/jquery.min.js', charset="UTF-8")    
  script(type='text/javascript', src='./assets/lib/bootstrap/dist/js/bootstrap.min.js', charset="UTF-8")
  script(type='text/javascript', src='./assets/lib/socket.io-client/dist/socket.io.min.js', charset="UTF-8")
  script(type='text/javascript', src='./assets/lib/angular-socket-io/socket.js', charset="UTF-8")
  script(type='text/javascript', src='./app.js', charset="UTF-8")
