.container-fluid {
  display: table;
  width: 100%;
  padding-top: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;  
}

.row {
  display: table-row;
  height: 100%;
  width: 100%;
}

.player {
  display: table-cell;
  height: 40vh;
  background-color: rgba(48,48,48,0.9);
}

video {
  height: 100%;
  width: 100%;
}

.vertical-align-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.greeting-text {
  display: table-cell;
  color: white;
  vertical-align:middle !important;
  text-align: center;  
}

.video-list {
  padding: 0 !important;
  display: table-cell;
  height: 50vh;
  overflow-y: scroll;
}

.video-list-header {
  margin-bottom: 0px !important;
  border-bottom: 0px !important;
  text-align: center;
  font-size: 15px;
}

.list-group {
  margin-bottom: 0px !important;
}

.list-group-item {
  border-radius: 0px !important;
}

@media (min-width: 993px) {
  .player {
    height: 50vh;
  }
}

@media (max-width: 992px) {
  .video-list {
    height: 40vh;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
